.card {

  &-bg {
    background: #FFFFFF;
    box-shadow: 4px 12px 25px rgba(204, 204, 204, 0.15);
    border-radius: 8px;
  }


  &-img-top {
    width: 100%;
  }

  &-img-left {
    float: left;
  }

  &-title {
    font-size: $font-size-xl;
    font-weight: bold;
  }

  &-subtitle {
    font-size: $font-size-lg;
  }
}
